


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Your next nautic adventure is near!</h1>
  </div>
</div>

<div class="main">
  <h2>Find a boat</h2>

  <div class="cards">
    <div class="card-trip">
      <img class="img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>port</p>
          <p>capacitiy</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>

    <div class="card-trip">
      <img class="img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <div class ="card-trip-port-capacity">
          <div><p>port</p></div>
          <div><p>capacitiy</p></div>
          </div>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>


    <div class="card-trip">
      <img class = "img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <div class ="card-trip-port-capacity">
          <div><p>port</p></div>
          <div><p>capacitiy</p></div>
          </div>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
  </div>

  <a class="btn-flat" href="#">more boats</a>

  <div class="boat-offer">
    <img class="img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
    <div class="boat-offer-infos">
      <h2>Offer your boat</h2>
      <p>Offer your boat for boat-enthusiasts easily</p>
      <a class="btn-flat" href="#">offer boat</a>
    </div>
  </div>
</div>
