.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.mapboxgl-popup-content h2 {
    text-align: left;
    font-family: "Nunito", "Helvetica", "sans-serif";
}

.boat-marker {
  color: #16697A;
}

.map {
  margin-top: 20px;
}
