<h2>All the Boats:</h2>

 <div class="card-trip">
  <% @boats.each do |boat| %>
        <img class = "img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
        <div class="card-trip-infos">
          <div>
            <h3><%= boat.name %></h3>
            <div class ="card-trip-port-capacity">
            <div><p><%= boat.port %></p></div>
            <div><p><%= boat.capacity %></p></div>
            </div>
          </div>
          <h2 class="card-trip-pricing"><%= boat.price_per_day %></h2>
        </div>
         <% end %>
      </div>
